streamlit==1.36.0
numpy==1.26.4
pandas==2.2.2
ultralytics==8.3.0
opencv-python-headless==4.10.0.84
Pillow==10.4.0
scikit-learn==1.5.1
scipy==1.14.1
matplotlib==3.9.0
olefile==0.47
structlog==24.2.0
geopy==2.4.1
reverse-geocoder==1.5.1